#EduPage {
    position: relative;
    float: left;
    text-align: left;
    margin-top: 50px;
    width: 50%;
    background-color:blue;
}

#EduPage p {
    text-align: left;
    position: relative;
    float:left;
    width: 60%;
}

.header {
    text-align:left;
    margin-left: 10px;
}

#csumb-logo {
    position:relative;
    float: right;
    width: 200px;
    height:200px;
    margin-right: 50px;

}

#ec {
    width: 100%;
    height: 518px;

}