#header {
    width: 100%;
    height: 200px;
    position:absolute;
    left: 0;
    top: 0;
    background-color: #3c5375;
}

.navbar-side-open {
    position:fixed;
    top:0px;
    left:0px;
    width: 200px;
    height:100vh;
    display:block;
    background-color: #323233;
    z-index: 998;

    /* safari */
    -webkit-animation-name: sidemenuOpen;
    -webkit-animation-duration: 1s;

    /* regular */
    animation-name: sidemenuOpen;
    animation-duration: 1s;

}

#sidebarnav {
    position:relative;
    top: 200px;
}

.navbar-side-close {
    position:fixed;
    top:200px;
    left:0px;
    width: 200px;
    height:100vh;
    display:none;
    background-color: #323233;
    z-index: 998;

    /* safari */
    -webkit-animation-name: sidemenuClose;
    -webkit-animation-duration: 1s;

    /* regular */
    animation-name: sidemenuClose;
    animation-duration: 1s;

}

#sidebar-close {
    position:absolute;
    top: 200px;
    right: 10px;
    background-color: #323233;
    color:white;
    border:none;
    font-size:24px;
    outline: none;
}

@keyframes sidemenuOpen {
    from {width:0px;}
    to {width:200px;}
}

@keyframes sidemenuClose {
    from {width:200px;}
    to {width:0px;display:none}
}

#navbar-side .nav-link {
    margin-top: 30px;
}

#avatar {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#navbar-container {
    height: 300px;
    width:350px;
    margin: 0 auto;
}

.nav-dropdown-content {
    position:absolute;
    z-index:999;
    background-color:white;
    border:1px solid black;
    display:none;
}

.nav-dropdown:hover .nav-dropdown-content {
    display:block;
}

.nav-link {
    color:white;
}

.nav-link:hover {
    color:black;
}

.nav-link active {
    color:black;
}

#sidebar-toggle-btn {
    width: 30px;
    height:30px;
    font-size:24px;
    color:white;
    border:none;
    background-color: #3c5375;
    position:absolute;
    bottom: 10px;
    right: 30px;
    display:none;
}

@media only screen and (max-width:784px) {
    #navbar-container {
        display:none;
    }

    #sidebar-toggle-btn {
        display:block;
    }
}

@media only screen and (min-width:784px) {
    #lightbox {
        display:none;
    }

    #sidebar-navigation {
        display:none;
    }
}



#profile_img {
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

#header-links {
    height: 60px;
    width: 200px;
    margin: 0 auto;
    position:relative;

}

#name-header {
    color: white;
    position: relative;
    margin: 0 auto;
}

#lightbox {
    width: 100%;
    height:100%;
    position:fixed;
    top: 0;
    left:0;
    background-color:rgba(0, 0, 0, .5);
    z-index: 997;
}

.lightbox-open {
    display:block;
}

.lightbox-close {
    display:none;
    z-index:997;
}

